.studentInfo {
  width: 50%;
  margin: 20px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
}

.studentInfo h4 {
  font-size: 22px;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.studentInfo ul {
  list-style-type: none;
  line-height: 3;
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
}

.studentInfo ul li {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 5px;
}

.studentInfo i {
  cursor: pointer;
}

.edit {
	float: right;
}

.editDetails {
	width: 30%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 15px;
	margin: 0px 607px;
}

.editDetails button {
	margin-top: 10px;
}